.browse{
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (width>=920px) {
    .browse{
        display: none;
    }
}

@media screen and (width<=400px) {
    .browse{
        font-size: 10px;
    }
}