.subFooterLinks {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  a {
    color: grey;
    font-size: 13px;
  }
}

@media screen and (width<=660px) {
  .subFooterLinks{
    grid-template-columns: repeat(2,50vw);
    justify-items: center;
  }
}
